.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .resend-code {
    width: 100%;
    display: flex;
    padding: 10px 0 0;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    .resend_link {
      color: $main;
      cursor: pointer;
      &.disabled {
        pointer-events: none;
      }
    }
    .timer {
      flex: 1 0;
      display: flex;
      justify-content: end !important;
      span {
        color: $text;
      }
    }
  }

  .input-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 8px;
    label {
      color: $dark;
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 6px;
      i {
        color: $main;
        font-size: 16px;
      }
      img {
        height: 24px;
      }
      span {
        font-size: 12px;
        color: $inputHint;
      }
    }
    input,
    textarea,
    select {
      color: $dark;
      direction: rtl;
      height: 56px;
      width: 100%;
      border: none;
      outline: none;
      padding: 8px 12px;
      border-radius: 12px;
      background: #fefefe;
      border: 1px solid $inputStroke;
      font-size: 14px;
      box-shadow: none !important;
    }
    textarea {
      height: 140px;
      padding: 16px 12px;
    }
    .input-span {
      position: absolute;
      color: $main;
      left: 12px;
      top: 46px;
    }
  }

  .location_icon {
    min-width: 54px;
    height: 54px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .pass-group {
    display: flex;
    .show-pass {
      @include centerFlex();
      width: 60px;
      height: 56px;
      border: 1px solid $inputStroke;
      background: $inputBg;
      border-right: 0;
      cursor: pointer;
      border-radius: 12px 0 0 12px !important;
      color: $text;
    }
    input {
      border-left: 0 !important;
      border-radius: 0 12px 12px 0 !important;
    }
  }

  .phone-field {
    input {
      border-radius: 0 12px 12px 0 !important;
      direction: ltr;
    }
    .phone-key {
      color: $dark;
      direction: rtl;
      height: 56px;
      border: none;
      outline: none;
      padding: 8px 12px;
      border-radius: 12px 0 0 12px;
      background: $inputBg;
      border: 1px solid $inputStroke;
      font-size: 14px;
      box-shadow: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      line-height: 24px;
      cursor: not-allowed;
      img {
        width: 24px;
        object-fit: contain;
      }
    }
  }

  .form_group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  .forgetpass {
    align-self: flex-end;
    color: $main;
    font-size: 14px;
  }

  .noAccount {
    align-self: flex-start;
    font-size: 14px;
    margin: 0;
    color: $text;
    a {
      color: $main;
    }
  }

  button,
  .sub_link {
    width: 100%;
    height: 56px;
    gap: 6px;
    border-radius: 12px;
    @include centerFlex();
    @include clearInput();
    color: #fff;
    background: $main;
    font-size: 14px;
    &.disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .image_wrapper {
    width: 100%;
    height: 180px;
    margin-bottom: 62px;
    position: relative;
    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .upload_iamge {
      position: absolute;
      top: 12px;
      width: 32px;
      height: 32px;
      left: 12px;
      border-radius: 50%;
      background-color: $white;
      border: 1px solid $inputHint;
      @include centerFlex();
      cursor: pointer;
      input {
        display: none;
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
    .logo_wrap {
      width: 120px;
      height: 120px;
      position: absolute;
      right: 24px;
      bottom: -60px;
      img {
        border-radius: 50%;
      }
      .upload_iamge {
        top: initial;
        bottom: -6px;
        left: 6px;
      }
    }
  }

  .upload_image {
    input {
      display: none;
      appearance: none;
    }
    .upload_image_wrap {
      @include centerFlex();
      width: 100%;
      cursor: pointer;
      height: 160px;
      border-radius: 12px;
      border: 1px solid $inputStroke;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .icon {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.question {
  padding: 0 0 30px;
  width: 100%;
  @include space-between();
  .quest {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $dark;
  }
  .vendorInput {
    appearance: none !important;
    position: relative;
    cursor: pointer;
    &::after {
      display: block;
      width: 48px;
      height: 24px;
      border-radius: 12px;
      content: "";
      background-color: $text;
      transition: $transition;
    }
    &::before {
      transition: $transition;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      right: 4px;
      content: "";
      background-color: $white;
    }
    &:checked {
      &::after {
        background-color: $main;
      }
      &::before {
        right: initial;
        left: 4px;
      }
    }
  }
}
