.invoice_template {
  background: $inputBg;
  padding: 32px 24px;
  width: 766px;
  border-top: 8px solid $main;
  border-bottom: 8px solid $main;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      margin: 0;
      line-height: 20px;
      color: $dark;
    }
    @include space-between();
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .img {
        height: 82px;
        img {
          height: 100%;
        }
      }
    }
    .company {
      h6 {
        color: $dark;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 8px;
        line-height: 24px;
      }
      p span {
        font-weight: 500;
        line-height: inherit;
      }
    }
    .invoice_data {
      display: flex;
      gap: 16px;
      justify-content: center;
      h6 {
        color: $dark;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background: $lightGray;
  }

  .total_price_wrap {
    width: 100%;
    .info {
      @include space-between();
      width: 100%;
      p {
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        color: $dark;
      }
      .block {
        h6 {
          font-size: 16px;
          font-weight: 500;
          line-height: 13px;
        }
      }
    }
    .total {
      display: flex;
      gap: 8px;
      align-items: center;
      h6 {
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        color: $main;
      }
      p {
        color: $main;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
      }
    }
  }
  .exampleTable {
    th,
    td {
      text-align: center;
      border: 1px solid $lightGray;
    }
  }
  table {
    border-collapse: collapse;
    border: 1px solid $lightGray;
  }
  .invoice_subTotal {
    max-width: 400px;
    ul {
      display: flex;
      gap: 12px;
      flex-direction: column;
      li {
        line-height: 24px;
        @include space-between();
        h6,
        p {
          line-height: inherit;
          margin: 0;
          color: $dark;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
  .invoice_footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 60px;
    .policy {
      display: flex;
      flex-direction: column;
      h6 {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
      }
      p {
        font-size: 12px;
        margin: 0;
        line-height: 24px;
        color: $gray;
      }
    }
    .qr_holder {
      width: 100px;
      height: 100px;
      background: $white;
      border-radius: 12px;
      @include centerFlex();
      padding: 12px;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
