@import "./config";

body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;

  @import "./header";
  @import "./form-ui";

  main {
    min-height: calc(100vh - 200px);
    @import "./auth";
    @import "./contact";
    @import "./products";

    .error-section {
      padding: 60px 16px;
      @include centerFlex();
      gap: 16px;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        margin-bottom: 24px;
        @media screen and (max-width: 576px) {
          height: 230px;
        }
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: $dark;
        line-height: 1.7;
        max-width: 600px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
      a {
        color: $main;
        border: 1px solid $main;
        position: relative;
        transition: $transition;
        @include centerFlex();
        padding: 8px 24px;
        transition: $transition;
        border-radius: 12px;
        gap: 8px;
        background: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        transition: $transition;
        i {
          font-size: 16px;
        }
        &:hover {
          color: $white;
          border-color: $main;
          background-color: $main;
        }
      }
    }

    .page_header {
      width: 100%;
      height: 60px;
      background: $white;
      h6 {
        font-size: 14px;
        color: $dark;
        margin: 0;
        i {
          padding: 0 12px;
        }
        a {
          color: $dark;
          transition: $transition;
          &:hover {
            color: $main;
          }
        }
      }
    }

    .tableLoader {
      flex: 1;
      @include centerFlex();
      flex-direction: column;
      .loader--style8 {
        width: 80px;
        height: 80px;
      }
      svg path,
      svg rect {
        fill: $main;
      }
    }

    .page_content {
      padding: 32px 0;
      .order_item {
        @include space-between();
        border-radius: 12px;
        background: $inputBg;
        padding: 16px;
        .image_info {
          display: flex;
          align-items: center;
          gap: 16px;
          .img {
            min-width: 62px;
            max-width: 62px;
            height: 62px;
            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 4px;
            h6 {
              font-size: 14px;
              color: $main;
            }
            p {
              font-size: 12px;
              margin: 0;
              color: $dark;
            }
          }
        }
        .price_time {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 8px;
          span {
            color: $text;
            font-size: 12px;
          }
          h6 {
            margin: 0;
            font-size: 18px;
            color: $main;
          }
        }
      }
    }

    .filter {
      background: $inputBg;
      padding: 24px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 100px;
      gap: 16px;
      h6 {
        color: $main;
        margin-bottom: 12px;
      }
      span {
        font-size: 14px;
        color: $text;
      }
      .form-checks {
        display: flex;
        flex-direction: column;
        gap: 4px;
        label {
          font-size: 14px;
        }
        .form-check-input {
          box-shadow: none !important;
          cursor: pointer;
          &:checked {
            background-color: $main;
            border-color: $main;
          }
        }
      }
      button {
        background: $main;
        color: $white;
        border-radius: 8px;
        font-size: 14px;
        width: 100%;
        padding: 12px;
      }
    }

    .products_list {
      background: $inputBg;
      padding: 16px;
      border-radius: 12px;
      .product {
        display: flex;
        border-bottom: 1px dashed $border;
        gap: 16px;
        width: 100%;
        padding: 12px 0;
        &:last-child {
          border-bottom: 0;
        }
        .pro_img {
          min-width: 80px;
          width: 80px;
          height: 80px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            // mix-blend-mode: multiply;
          }
        }
        .info {
          display: flex;
          width: 100%;
          height: 80px;
          flex-direction: column;
          justify-content: center;
          h6 {
            font-size: 14px;
            font-weight: 600;
          }
          .count_price {
            display: flex;
            p {
              font-size: 14px;
              white-space: nowrap;
              flex: 1;
              font-weight: 600;
              span {
                color: $main;
              }
            }
          }
        }
      }
    }

    .order_status {
      padding: 24px;
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      gap: 12px;
      background: $inputBg;
      .progress_state {
        display: flex;
        align-items: center;
        gap: 12px;
        h6 {
          font-size: 14px;
          color: $main;
          font-weight: 600;
        }
        .icon {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          @include centerFlex();
          background: $white;
          border: 1px solid $main;
          i {
            color: $main;
          }
        }
      }
      .progress,
      .progress-stacked {
        height: 8px;
        background: $white;
        .progress-bar {
          background: $main;
        }
        &.complete {
          .progress-bar {
            background: rgb(34, 209, 34);
          }
        }
        &.canceled {
          .progress-bar {
            background: rgb(255, 0, 0);
          }
        }
      }
      .add_rate {
        display: flex;
        gap: 12px;
        button {
          @include clearInput();
          padding: 8px 16px;
          border-radius: 8px;
          border: 1px solid $main;
          font-size: 14px;
          color: $main;
        }
      }
    }

    .checkout-details {
      background: $inputBg;
      padding: 16px;
      border-radius: 12px;
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        li {
          border-bottom: 1px dashed $border;
          padding: 12px 0;
          color: $dark;
          font-size: 16px;
          @include space-between();
          &:last-child {
            border-bottom: 0;
          }
          .value {
            color: $main;
            font-weight: 600;
          }
        }
      }
    }

    .reciept {
      background: $inputBg;
      padding: 16px;
      border-radius: 12px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
          display: flex;
          align-items: center;
          gap: 16px;

          .icon {
            height: 48px;
            width: 48px;
            background: $white;
            @include centerFlex();
            border-radius: 50%;
            i {
              font-size: 18px;
              color: $main;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            span {
              font-size: 14px;
              color: $main;
              line-height: normal;
              &:last-child {
                font-size: 12px;
                color: #777;
              }
            }
          }
        }
      }
    }

    .sections {
      background: $inputBg;
      padding: 24px;
      border-radius: 16px;
      .section_header {
        margin-bottom: 16px;
      }
    }
  }

  footer {
    background: $white;
    display: flex;
    align-items: center;
    padding: 16px;
    .inner_footer {
      background: $inputBg;
      border-radius: 40px;
      padding: 18px 32px;
      width: 100%;
      @include space-between();
      h6 {
        text-align: center;
        margin: 0;
        font-size: 12px;
        color: $dark;
        a {
          color: $main;
        }
      }
      @media (max-width: 576px) {
        gap: 16px;
        flex-direction: column-reverse;
      }
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      a {
        font-size: 12px;
        color: $dark;
        transition: $transition;
        &:hover {
          color: $main;
        }
      }
    }
  }

  &.en {
    direction: ltr;
    .closeModal {
      right: 16px;
      left: unset;
    }
    .form .input-field input,
    .form .input-field textarea,
    .form .input-field select {
      direction: ltr;
    }
    .form .phone-field .d-flex {
      flex-direction: row-reverse;
    }
    .form .pass-group input {
      border-radius: 12px 0 0 12px !important;
      border-left: 1px solid $inputStroke !important;
      border-right: 0 !important;
    }
    .form .pass-group .show-pass {
      border-radius: 0 12px 12px 0 !important;
    }
    .form .image_wrapper .logo_wrap {
      right: initial;
      left: 24px;
    }
    .form .image_wrapper .upload_iamge {
      left: initial;
      right: 12px;
    }
    .form-check {
      padding-left: 0;
      padding-right: 1.5rem;
    }
    .form-check .form-check-input {
      float: right;
      margin-right: -1.5em;
    }
    main .contact_section form .form-group .inputfield label {
      left: 16px;
      right: initial;
    }
  }
}
